.searchbar {
  width: 100%;
  max-width: 400px;
}

.searchbar-container {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 50px;
  padding: 5px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchbar-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  padding: 10px;
}

.searchbar-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
