.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
}

.navbar.logo {
  width: max(10%, 80px);
  cursor: pointer;
  background-color: #f8f9fa;
}

.navbar .profile {
  width: 40px;
  cursor: pointer;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
  position: relative;
  overflow: hidden;
  &:hover {
    background-color: #e9ecef;
  }
  img {
    width: 100%;
    transition: transform 0.2s ease;
  }
  &:hover img {
    transform: scale(1.05);
  }
}
